 .restaurant_cards_container {
     
 }

 .restaurant_cards_title {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;

    /* identical to box height, or 133% */
    letter-spacing: 1.25px;
    text-transform: uppercase;

    color: #000000;
 }