.search_page {
    position: absolute;
    background: #FFFFFF;
    top: 0px;
    height: 413px;
    box-shadow: 2px 4px 10px rgba(175, 175, 175, 0.25);
    width: 100%;
}

.close_button {
    position: fixed;
    left: 25px;
    align-items: center;
}

.search_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.92px;
    color: #000000;
}

.search_body {
    flex-direction: column;
    align-items: flex-start;
    margin: 24px 31px;
}

.search_bar {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 20px;
    width: 100%;
    height: 30px;

    border: 0.5px solid #000000;
    border-radius: 4px;
}

.search_input {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    letter-spacing: 1.29px;

    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 1;
    border: none;
    gap: 10%;
}

.search_input::placeholder {
    color: #000000;
    opacity: 1;
}

.search_input:focus::placeholder {
    opacity: 0.2;
}

.search_input_options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 15px 16px 62px;
    gap: 10px;

    width: 315px;
    height: 130px;
    left: 31px;
    top: 477px;

    background: #FFFFFF;
}

.search_input_options_title {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;

    /* identical to box height */
    letter-spacing: 1.29px;

    color: #000000;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

.search_input_options_value {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;

    /* identical to box height */
    letter-spacing: 1.29px;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}